@media screen and (max-width:425px) {
    .menu-container{
        display: none;
    }
    nav>span{
    display:inline;
    }
    .banner-container{
     flex-direction: column;
    }
    .banner-right,
    .banner-left,
    .banner-right>img{
      width: 100%;
    }
    .banner-left h1{
    font-size: 36px;
    font-weight: 900;
    }
    .btn-container{
    display: flex;
    gap: 10px;
   justify-content: center;
   padding-bottom: 30px;
   }
    .btn-container>button{
    width:150px;
    height: 54px;
}
.tooltip,
.tooltip2{
 width: 185px;
  height: 93px;
}
.home-btn{
    padding: 4px 7px;
    border-radius: 45px;
}
    .tooltip{
    top: 10%; 
    left: 52%;
   }
   .tooltip2{
    top: 45%;
    left: 0%;
   }
   .grid-container{
    grid-template-columns: repeat(2,1fr);
   }
   .box-2{
    grid-column:auto;
   }
   .box-4{
    grid-column:auto;
  }
   .box-3,
   .box-6{
   display: none;
  } 
  .habit-grid{
    grid-template-columns: repeat(1,1fr);
    width: 230px;
    margin: 0 auto;
} 
.habit{
  padding:0 10px ;
} 
.habit-grid img{
    margin: 10px 0;
} 
.habit-grid p{
    color: #dcd3d3;
    line-height: 20px;
}
.habit-grid{
    gap: 15px;
}
.run-extra{
    grid-template-columns: repeat(1,1fr);
    margin: 0 20px;
}
.run-left h2{
    font-size:32px;
}
.run-left br{
   display: none;
}
.join-btn{
    padding:16px 90px;
    align-items: center;
   
}
.training-heading{
    font-size: 32px;
}
.training-para{
    line-height: 28px;
    padding: 0 20px;
}
}
