@media screen and (max-width:425px) {
    .menu-container{
        display: none;
    }
    nav>span{
    display:inline;
    }
    .banner-container{
     flex-direction: column;
    }
    .banner-right,
    .banner-left,
    .banner-right>img{
      width: 100%;
    }
    .tooltip{
    top: 10%; 
    left: 52%;
   }
   .tooltip2{
    top: 45%;
    left: 0%;
   }
   .grid-container{
    grid-template-columns: repeat(2,1fr);
   }
   .box-2{
    grid-column:auto;
   }
.box-4{
    grid-column:auto;
  }
.box-3,
.box-6{
display: none;
}    
}
