*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    background-color: rgba(0,0,0,1);
    color: #fff;
}
/* Navber design */
nav{
   
    padding: 5px;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
nav>p{
    font-size: 36px;
    color: #E6533C;
    font-weight: bold;
}
nav>div{
    border: 1px solid rgb(86, 84, 84);
    display: flex;
    gap:47px;
    align-items: center;
    border-radius: 40px;
    padding: 2px 5px;
}
nav>span{
    margin-right: 5px;
    display: none;
}
/* Banner Section */
.banner-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
}
.banner-left{
    min-height:200px ;
    width: 50%;
}
.banner-left p{
    margin: 28px 0;
    line-height: 28px;
}
.btn-container>button{
    width:200px;
    height: 54px;
    border-radius: 42px;
    color: #fff;
}
.home-btn{
    background-color:#E6533C ;
    padding: 5px 10px;
    border-radius: 45px;
}
.banner-left h1{
    font-size: 78px;
}
.banner-right{
    min-height:200px ;
    width: 50%;
    display: flex;
    justify-content: end;
    position: relative;
}
.banner-right>img{
    width:55%;
    /* object-fit: cover; */
}
.tooltip{
    background-color: rgba(128, 128, 128, 0.37);
    position: absolute;
    right: -10%;
    width: 193px;
    height: 98px;
    padding: 20px 0 0 20px;
    border-radius: 12px;
    top: 25%; 
}
.tooltip2{
    background-color: rgba(32, 32, 32, 0.684);
    position: absolute;
    width: 193px;
    height: 98px;
    padding: 20px;
    border-radius: 12px;
    left:25%;
    top: 70%;
    display: flex;
    align-items: center;
    gap:10px;
}
.ball{
 width: 40px; 
 height: 40px;
 background-color: #E6533C;
 border-radius: 50%;  
}
/* training section */
.grid-container{
   max-width: 1200px;
   min-height: 300px;
   margin: 50px auto;
   display: grid;
   grid-template-columns: repeat(4,1fr);
   grid-template-rows: repeat(2,200px);
}
.grid-container img{
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
}
.grid-container>div{
    position: relative;
}
.grid-container>div>p{
    position: absolute;
    z-index: 50;
    top: 0;
}
.box-2{
    /* grid-column: 2/span 2; */
    grid-column: 2/4;
}
.box-4{
    /* grid-column: 1/span 2; */
    grid-column: 1/3;
}